input {
  kafka {
    bootstrap_servers => "kafka1:9092"
    topics => ["logging"]
    codec => "json"
  }
  tcp {
    port => 5001
    codec => "json"
  }
}

filter {
  json {
    source => "message"
  }
  geoip {
    source => "remote_ip"
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "mock-logs"
  }
  stdout {
    codec => rubydebug
  }
}