input {
  kafka {
    bootstrap_servers => "broker:9092"
    topics => ["orders"]
    codec => "json"
  }
  tcp {
    port => 5001
    codec => "json"
  }
}

filter {
  json {
    source => "message"
  }
  geoip {
    source => "remote_ip"
  }
  useragent {
    source => "agent"
    target => "useragent"
  }
}

output {
  elasticsearch {
    hosts => ["http://es:9200"]
    index => "kafka-test"
  }
  stdout {
    codec => rubydebug
  }
}